spring:
  application:
    name: ms-dofuspulse-api

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:postgresql://localhost:5432/${DB_NAME:dofuspulse}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true
  session:
    jdbc:
      initialize-schema: always
      schema: classpath:org/springframework/session/jdbc/schema-@@platform@@.sql
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
          discord:
            client-id: ${DISCORD_CLIENT_ID}
            client-secret: ${DISCORD_CLIENT_SECRET}
            scope:
              - identify
              - email
            redirect-uri: http://localhost:8080/login/oauth2/code/discord
            client-name: Discord
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
        provider:
          discord:
            authorization-uri: https://discord.com/api/oauth2/authorize
            token-uri: https://discord.com/api/oauth2/token
            user-info-uri: https://discord.com/api/users/@me
            user-name-attribute: username

logging:
  level:
    org.springframework.security: trace
    root: INFO

server:
  servlet:
    session:
      timeout: 24h
      tracking-modes: cookie
      cookie:
        http-only: true
        max-age: 168h
  tomcat:
    additional-tld-skip-patterns: '*.tld'

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://prod-db-server:5432/dofuspulse
    username: dofuspulse
    password: admin
  jpa:
    properties:
      hibernate:
        format_sql: true