spring:
  application:
    name: ms-dofuspulse-api
  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres}:5432/${DB_NAME:dofuspulse}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true
  session:
    jdbc:
      initialize-schema: always
      schema: classpath:org/springframework/session/jdbc/schema-@@platform@@.sql
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
          discord:
            client-id: ${DISCORD_CLIENT_ID}
            client-secret: ${DISCORD_CLIENT_SECRET}
            redirect-uri: http://${APP_HOST}:8080/login/oauth2/code/discord
            scope:
              - identify
              - email
            client-name: Discord
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
        provider:
          discord:
            authorization-uri: https://discord.com/api/oauth2/authorize
            token-uri: https://discord.com/api/oauth2/token
            user-info-uri: https://discord.com/api/users/@me
            user-name-attribute: username
server:
  servlet:
    session:
      timeout: 24h
      tracking-modes: cookie
      cookie:
        http-only: true
        max-age: 168h
        secure: true
  tomcat:
    additional-tld-skip-patterns: '*.tld'

---
spring:
  config:
    activate:
      on-profile: local
  jpa:
    show-sql: true
logging:
  level:
    org.springframework.security: trace
    root: INFO
management:
  endpoints:
    web:
      exposure:
        include: '*'
---
spring:
  config:
    activate:
      on-profile: prod
logging:
  level:
    root: INFO
management:
  server:
    port: 8081
    address: 127.0.0.1
  endpoints:
    web:
      exposure:
        include: '*'

